@import url('https://fonts.googleapis.com/css?family=Shrikhand&text=Hey%2C%20I%27mKvin%2E');

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1485965120184-e220f721d03e?dpr=2&auto=format&w=1200&h=800&cs=tinysrgb);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero {
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  text-align: center;
}

.hero h1 {
  font-family: 'Shrikhand', 'Helvetica', sans-serif;
  color: #ffffff;
  text-shadow: .4rem .4rem 0 #6c9a97;
  font-size: 3.5rem;
}

.hero p {
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: bold;
  width: 70%;
  margin: 4rem auto;
}

.card {
  box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,.2);
  transition: 0.3s;
  margin: 2.5rem auto;
}

.card:hover {
  box-shadow: 0 .8rem 1.6rem 0 rgba(0,0,0,.2);
}

.card img {
  width: 100%;
}

.card-text {
  padding: .8rem 1.6rem;
}

.card-title {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.card-content {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.card-content p {
  margin-bottom: 1.5rem;
}

.latest-post {
  margin-top: 2rem;
}
