* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
  margin: 60px auto;
  width: 70%;
}

nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

.container {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #d75842;
}

a:hover {
  color: #a25042;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1em;
  line-height: 1.2em;
  color: #333;
}

code {
  font-family: 'Consolas', monospace;

}

.highlighter-rouge {
  width: 100%;
  padding: .5em 1em;
  background-color: #494342;
  color: #81cdc9;
  border: 1px solid #f8f2f1;
  border-radius: 6px;
  font-size: .8em;
}

p .highlighter-rouge {
  width: auto;
  padding: initial;
  background-color: initial;
  color: initial;
  border: none;
  border-radius: initial;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1em;
}

ul.posts li {
  list-style: none;
}
