html {
  font-size: 62.5%;
}

* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

*, *:before, *:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #9e9897;
}

nav {
  padding: .8rem;
  font-size: 1.5rem;
}

nav .name {
  font-weight: bold;
  display: inline;
}

nav ul {
  padding: 0;
  list-style: none;
  font-weight: bold;
  float: right;
  display: inline;
}

nav ul li {
  display: inline;
  margin-left: 2rem;
}

nav a {
  color: #494342;
}

nav a:hover {
  color: #81cdc9;
}

.container {
  background-color: #ffffff;
  margin: 4rem auto;
  width: 80%;
  flex: 1;
}

a {
  text-decoration: none;
  color: #a25042;
}

a:hover {
  color: #d75842;
}

/* blog post link styles inspired by Wired.com and adapted from Hyungtak Jun (hjun.me/wired-style-underline/) and Mike Mai (codepen.io/mikemai2awesome/pen/BIEgp?css-preprocessor=scss) */
.post-content a {
  color: #494342;
  border-bottom: .075rem solid #e3a499;
  box-shadow: 0 -.3rem 0 #e3a499 inset;
  transition: background .15s cubic-bezier(.33,.66,.66,1);
}

.post-content a:hover {
  background: #e3a499;
}

.post-content p {
  margin-top: 1.5rem;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: 2.5rem;
}

h1 {
  font-size: 2.6rem;
  line-height: 3.9rem;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
}

p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #494342;
}

p + p {
  margin-top: 3.15rem;
}

.meta {
  color: #9e9897;
}

pre {
  font-size: 1.2rem;
  line-height: 1.8rem;
  overflow-x: auto;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #494342;
  color: #81cdc9;
  border: .2rem solid #f8f2f1;
  border-radius: .6rem;
}

code {
  font-family: 'Consolas', monospace;
}

p pre {
  width: auto;
  padding: initial;
  background-color: initial;
  color: initial;
  border: none;
  border-radius: initial;
}

footer {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.8rem;
  background: #494342;
  text-align: center;
}

footer .wrapper {
  padding: 4.8rem 0;
  margin: 0 auto;
  width: 90%;
}

footer .social {
  font-size: 1.6rem;
}

footer .social a {
  color: #81cdc9;
}

footer .social a:hover {
  color: #bfe0dd;
}

footer .social a i:last-child {
  color: #494342;
}

footer p {
  color: #ffffff;
  padding: 2rem 0;
  margin-bottom: 0;
}

ul.posts {
  margin: 2rem auto 4rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

ul.posts li {
  list-style: none;
}

@media (min-width: 500px) {
  nav {
    padding: .8rem;
    font-size: 1.8rem;
  }
}
