<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <meta name="viewport" content="with=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="name">Kevin Jablonowski</a>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">

    {{ content }}

    </div>
  </body>
  <footer>
    <ul>
      <li><a href="#">email</a></li>
      <li><a href="https://github.com/katzmeowski">github</a></li>
      <li><a href="https://www.linkedin.com/in/kjablonowski/">linkedin</a></li>
    </ul>
  </footer>
</html>