<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">

    {{ content }}

    </div>
  </body>
  <footer>
    <ul>
      <li><a href="#">email</a></li>
      <li><a href="https://github.com/katzmeowski">github</a></li>
      <li><a href="https://www.linkedin.com/in/kjablonowski/">linkedin</a></li>
    </ul>
  </footer>
</html>