<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <meta name="viewport" content="with=device-width,initial-scale=1">
    <script src="https://use.fontawesome.com/588a23e568.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="name"><i class="fa fa-bicycle" aria-hidden="true"></i> Kevin Jablonowski</a>
        <ul>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      {{ content }}
    </div>
  </body>
  <footer>
    <div class="wrapper">
      <div class="social">
        <a href="mailto:kjazbo+portfolio@gmail.com">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x"></i>
          </span>
        </a>
        <a href="https://github.com/katzmeowski">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
          </span>
        </a>
        <a href="https://www.linkedin.com/in/kjablonowski">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a>
      </div>
      <p>Handcrafted with <i class="fa fa-heart" aria-hidden="true" title="love"></i><span class="sr-only">love</span> in Philadelphia, PA</p>
    </div>
  </footer>
</html>
